x64/Release/Purec++.pdb
x64/Release/Purec++.ipdb
x64/Release/Purec++.iobj
x64/Release/Purec++.exe
x64/Debug/Purec++.pdb
Purec++/x64/Debug/vc140.pdb
Purec++/x64/Debug/vc140.idb
Purec++/x64/Debug/tools.obj
Purec++/x64/Debug/remapping_function.obj
Purec++/x64/Debug/rectifying_homography.obj
Purec++/x64/Debug/opencv_utils.obj
Purec++/x64/Debug/lsd.obj
Purec++/x64/Debug/laplacian_pyramid.obj
Purec++/x64/Debug/gaussian_pyramid.obj
Purec++/x64/Debug/depth_estimation.obj
Purec++/x64/Debug/Purec++.tlog/link.write.1.tlog
Purec++/x64/Debug/Purec++.tlog/link.read.1.tlog
x64/Debug/Purec++.ilk
x64/Debug/Purec++.exe
Purec++/x64/Release/vc140.pdb
Purec++/x64/Release/tools.obj
Purec++/x64/Release/rectifying_homography.obj
Purec++/x64/Release/lsd.obj
Purec++/x64/Release/depth_estimation.obj
Purec++/x64/Release/Purec++.tlog/link.write.1.tlog
Purec++/x64/Release/Purec++.tlog/link.read.1.tlog
Purec++/x64/Release/Purec++.tlog/link.command.1.tlog
Purec++/x64/Release/Purec++.tlog/cl.write.1.tlog
Purec++/x64/Release/Purec++.tlog/cl.read.1.tlog
Purec++/x64/Release/Purec++.tlog/cl.command.1.tlog
Purec++/x64/Release/Purec++.tlog/Purec++.lastbuildstate
Purec++/x64/Release/Purec++.log
Purec++/x64/Release/3dreconstruction.obj
Purec++/x64/Debug/Purec++.tlog/link.command.1.tlog
Purec++/x64/Debug/Purec++.tlog/Purec++.lastbuildstate
Purec++/x64/Debug/Purec++.tlog/CL.write.1.tlog
Purec++/x64/Debug/Purec++.tlog/CL.read.1.tlog
Purec++/x64/Debug/Purec++.tlog/CL.command.1.tlog
Purec++/x64/Debug/Purec++.log
Purec++/x64/Debug/3dreconstruction.obj
Purec++.VC.db
.vs/Purec++/v14/.suo
